/* Utility CLasses */
.slideSlow {
  animation-duration: 2s;
}

.slideNormal {
  animation-duration: 1.5s;
}

.slideFast {
  animation-duration: 0.8s;
}

.delay {
  animation-delay: 0.2s;
}

.easeOut {
  animation-timing-function: ease-out;
}

/* Webpage Dropdown */
.button:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  transition-duration: 2s;
}

.button:hover .arrow-down {
  rotate: 180deg;
}

.arrow-down {
  transition-duration: 0.3s;
}

/* Keyframes */
@keyframes slideInLeft {
  from {
    transform: translateX(-650px);
  }

  to {
    transform: translateX(0px);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translateX(650px);
  }

  to {
    transform: translateX(0px);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideDown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 3s;
}

@keyframes scaleCenter {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.scaleCenter {
  animation-name: scaleCenter;
}

@keyframes scaleTop {
  0% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}

.scaleTop {
  animation-name: scaleTop;
}

/* Links */
.link--text:hover {
  opacity: 0.7;
  color: dimgrey;
}

.link--text {
  transition-duration: 0.2s;
}
