/* Utility Classes */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.position-bottom {
  bottom: 0;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flexBox {
  display: flexbox;
}

.flex {
  display: flex;
}

.width-50-percent {
  width: 50%;
}

.block {
  display: block;
}

.underline {
  text-decoration: underline;
}
.light-bold {
  font-weight: 300;
}
.bolder {
  font-weight: 700;
}
/* End of Utility Classes */
html {
  font-size: 30px;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: auto;
}
* {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}
#logo-section {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: auto;
  height: 125px;
  z-index: 110;
  margin-top: 15px;
  padding: 0;
}
#BCM-logo {
  margin-left: 15px;
  height: 50px;
}
.header {
  display: flex;
  height: 75vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-text {
  text-align: center;
}
.title {
  font-size: 4rem;
}
.subtitle {
  font-size: 3rem;
}
.page-links {
  position: sticky;
  z-index: 100;
  background-color: rgba(184, 96, 20, 0.66);
  top: 0px;
  display: flex;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  font-family: sans-serif;
  box-shadow: 1px 1px 1px black;
  text-transform: uppercase;
}
.sticking {
  background-color: #f8e5c6;
  transition: background-color 200ms;
  box-shadow: 1px 1px 20px black;
}
#page-links-hamburger {
  display: none;
}
/* Footer start */
#footer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.1fr 0.7fr 0.18fr;
  grid-template-rows: 1fr;
  font-size: 12px;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
#icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5em;
  margin-right: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#row-1 {
  margin-bottom: -15px;
}

#tbmb {
  display: flex;
  justify-content: right;
}
#tbmb-logo {
  height: auto;
  width: 250px;
}
/* Footer end */
.arrow-down {
  border: solid black;
  border-width: 0px 3px 3px 0px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  transform: rotate(226deg);
  -webkit-transform: rotate(226deg);
}
.dropdown-pageLinks {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 15px;
  margin: 0px;
  gap: 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-family: sans-serif;
  background-color: #b86014;
  box-shadow: 1px 1px 5px black;
}
.dropdown-pageLinks > a {
  color: #f8e5c6;
}
.dropdown-content > a {
  color: #f8e5c6;
}

.paragraph {
  font-family: sans-serif;
}
@media screen and (min-width: 401px) {
  .sticking {
    background-color: #f8e5c6;
    transition: background-color 200ms;
    box-shadow: 1px 1px 20px black;
  }
}
/* Phone Width */
@media screen and (max-width: 400px) {
  #top-section {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 200;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    /* overflow: hidden; */
  }
  body #logo-section {
    height: 100%;
    margin-top: 0;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    /* float: left; */
  }
  #BCM-logo {
    height: 1.3em;
    position: relative;
  }
  #page-links-hamburger {
    position: relative;
    float: right;
    z-index: 200;
    /* right: 0; */
    margin-top: 15px;
    margin-right: 10px;
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: repeat(3, 7px);
    grid-template-columns: 40px;
    gap: 5px;
  }
  .hamburger-sec {
    background-color: black;
    border-radius: 10px;
  }
  .page-links {
    height: 100vh;
    width: 100%;
    z-index: 150;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    text-align: left;
    font-size: 0.85rem;
    gap: 30px;
    background-color: #f8e5c6;
    text-transform: uppercase;
  }
  .dropdown-pageLinks {
    padding: 10px;
    gap: 7px;
    font-size: 0.7rem;
  }
  .hide {
    display: none;
  }
  .header {
    height: auto;
    background-image: none;
    background-color: #b86014;
    padding-top: 100px;
  }
  .subtitle {
    font-size: 2rem;
    margin: 0;
  }
  .title {
    font-size: 3rem;
    margin-top: 0;
  }
  .title {
    font-size: 2rem;
  }
  #footer {
    display: flex;
    flex-direction: column;
  }
  #icons {
    flex-direction: row;
    margin-right: 5px;
    align-items: start;
    gap: 20px;
  }
  #row-1 {
    margin-bottom: 0px;
  }
  #tbmb {
    justify-content: left;
    /* padding-bottom: 5px;  */
  }
  #tmbm-logo {
    width: 50px;
    height: auto;
  }
}
